html {
    min-height: 100%;
}

body {
    background-color: #F7FBFF;
    font-family: 'Thasadith', sans-serif;
}

.navbar {
    padding: 30px;
    background: #343A40;
    color: white;
}

.navbar-brand {
    font-size: 40px;
    font-weight: bold;
}

#submit-button {
    color: white;
    border: 2px solid white;
    border-radius: 3px;
}

#submit-button:hover {
    background-color: white;
    border: 2px solid white;
    border-radius: 3px;
    color: #343A40;
}

.jumbotron {
    margin-top: 40px;
}

.footer {
    text-align: center;
    background-color: #343A40;
    padding: 40px;
    color: white;
    font-size: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.btn {
    margin: 10px;
    border: 2px solid #343A40;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
}

.btn:hover {
    background: white;
}

.btn:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(151, 151, 151, 0.25);
}

#GIFimages {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

#GIFimages img {
    margin-right: 40px;
    margin-bottom: 40px;
    max-width: 100%;
}

.favorites {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.favorites img {
    margin-right: 40px;
    margin-bottom: 40px;
    max-width: 100%;
}



.search-item {
    padding: 10px;
    float: left;
}

.empty-button {
    margin: 10px;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
}


.empty-button:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(151, 151, 151, 0.25);
}


.choose-and-empty {
    display: flex;
}

.choose-category {
    flex: 1;
}

h5 {
    margin:0;
}

@media only screen and (max-width: 640px) {
    #submit-button {
        color: white;
        border: 2px solid white;
        border-radius: 3px;
        margin-left: 0;
        margin-top:20px;
    } 
}